coba4.py
movement_classifier.h5
tesGPU.py
assets/canonical_face_model_uv_visualization.png
assets/face_landmarker.task
assets/kanann.mp4
assets/kirii.mp4
assets/loss1.png
assets/loss2.png
assets/loss5.png
assets/majuu.mp4
assets/mediapipe_face_landmark_fullsize.png
assets/mesh_map.jpg
assets/mundurr.mp4
assets/stopp.mp4
assets/train1.png
assets/train3.png
assets/train4.png
assets/train5.png
assets/training2.png
Dataset/irismanual.py
Dataset/tempCodeRunnerFile.py
Klasifikasi/ekstrakirisvideo.py
Klasifikasi/model_4.h5
Klasifikasi/model_5_t.h5
Klasifikasi/tempCodeRunnerFile.py
model/model_1.h5
model/model_2.h5
model/model_3.h5
model/model_3.json
model/model_4.h5
model/model_4.json
model/model_5_t.h5
.venv/
.vscode/
assets/
/SDAvenv/


